{% extends 'base.html' %}

{%block head%}

<title>Update Model Config </title>

{%endblock%}



{%block body%}
    <div class="row">
        <div class="col-md-12 " style="margin-bottom:20px;height:500px;overflow:scroll">
            <form method="post">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Existing model config</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"  readonly>
                        {{ result['model_config'] }}
                    </textarea>
                </div>

                <div class="mb-3">
                    <a href="https://jsonformatter.curiousconcept.com/#" class="btn btn-primary" target="_blank">Validate model config json</a>
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea2" class="form-label">Model Config JSON:</label>
                    <textarea class="form-control" name="new_model_config" id="exampleFormControlTextarea2" rows="5"></textarea>
                </div>


                <div class="mb-3">
                    <input type="submit" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"  value="Update model config"/>
                    
                </div>
            </form>

        </div>
    </div>


{%endblock%}